*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    max-width: 960px;
    text-align: center;
}
header{
    background-color: aqua;
    height: 50px;
}
main{
    display: flex;
}
aside{
    background-color: blue;
    width: 25%;
}
div{
    background-color: bisque;
    width: 50%;
}
footer{background-color: blueviolet;}
